<nav>
<div class="nav-wrapper blue darken-4">
    <img class="brand-logo" style="margin-top: 8px; margin-left: 8px;" src="{{urlLogo}}" height="40px" width="40px" />
    <a href="#" id="btn-sidenav-demo" class="button-collapse">
        <i class="material-icons">menu</i>
    </a>
    <ul class="right hide-on-med-and-down">
        <li><a routerLink="/"><i class="material-icons">home</i></a></li>
        <li><a routerLink="/Login"><i class="material-icons">lock</i></a></li>
    </ul>
</div>
</nav>
      
<mz-sidenav
  [id]="'sidenav-demo'"
  [collapseButtonId]="'btn-sidenav-demo'">
  <mz-sidenav-header>
    <img src="{{urlLogo}}" alt="Atlantic" style="margin-top: 10px; margin-left: 95px;"  width="100px" height="100px">
  </mz-sidenav-header>
  <mz-sidenav-subheader>Menu</mz-sidenav-subheader>
  <mz-sidenav-divider></mz-sidenav-divider>
  <mz-sidenav-link>
      <li><a routerLink="/"><i class="material-icons">home</i>Home</a></li>
  </mz-sidenav-link>
  <mz-sidenav-divider></mz-sidenav-divider>
  <mz-sidenav-link>
      <a routerLink="/Login"><i class="material-icons">lock</i>Login</a>
  </mz-sidenav-link>
  <mz-sidenav-divider></mz-sidenav-divider>
</mz-sidenav>