<nav>
  <div class="nav-wrapper blue darken-4">
      <a href="#" class="brand-logo">Logo</a>
      <a href="#" data-activates="menu-mobile" class="button-collapse">
          <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
          <li><a href="#">Angular</a></li>
          <li><a href="#">Ionic</a></li>
          <li><a href="#">TypeScript</a></li>
          <li><a href="#">Cordova</a></li>
      </ul>
      <ul class="side-nav" id="menu-mobile">
          <li><a href="#">Angular</a></li>
          <li><a href="#">Ionic</a></li>
          <li><a href="#">TypeScript</a></li>
          <li><a href="#">Cordova</a></li>
      </ul>
  </div>
</nav>