<ngx-alerts></ngx-alerts>
<app-header></app-header>

<div class="row">
    <div class="col s12 m8 push-m2">
      <h3 class="light"> Produtos</h3>
      <table class="striped">
        <thead>
          <tr>
            <th style="width: 600px;">Nome</th>
            <th>Preço</th>
          </tr>
        </thead>
  
        <tbody>
          <tr *ngFor="let produto of produtos">
            <td>{{produto.Nome}}</td>
            <td>{{produto.Preco}}</td>
            <td><a class="btn-floating orange" [routerLink]="['/AlterarProduto/', produto.Id]"><i class="material-icons">edit</i></a></td>
  
            <td><a class="btn-floating red modal-trigger" (click)="DeletarProduto(produto)" ><i class="material-icons">delete</i></a></td>
  
          </tr>
  
  
        </tbody>
      </table>
      <br>
      <a [routerLink]="['/CadastroProduto/', idLogin]" class="btn">Adicionar produto</a>
    </div>
  </div>
  
  <app-footer></app-footer>