<app-header></app-header>

<owl-carousel [options]="carouselOptions" [items]="images" [carouselClasses]="['owl-theme', 'row', 'sliding']">
    <div class="item" *ngFor="let image of images;let i= index">
        <img class="slide-image" src="{{image.image}}">
        <div class="slide-text">
            <h4>{{image.text}}</h4>
        </div>
    </div>
</owl-carousel>


<div class="container">
    <div class="section">
        <div class="row">
            <div *ngFor="let produto of produtos" class="col s12 m4">
                <div class="card" style="padding:1px; height: 500px;" >
                    <div class="card-image">
                        <img src={{produto.Foto}} width="200px" height="290px" />
                    </div>
                    <div class="card-content texto" style="height: 150px;">
                        <p>{{produto.Descricao}}
                        </p>
                    </div>
                    <div class="card-action" >
                        <a href="#">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>